.modal {
  z-index: 100;
  position: fixed;
  width: 40rem;
  left: 33%;
  background: white;
  border-radius: 6px;
}

.modal-header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: #beaee2;
  color: white;
  border-radius: 6px 6px 0 0;
}

.modal-header h2 {
  margin: 0.5rem;
}

.modal-content {
  padding: 1rem 0.5rem;
}

.modal-footer {
  padding: 1rem 0.5rem;
}
