.modal {
  z-index: 100;
  position: fixed;
  width: 40rem;
  left: 33%;
  background: white;
  border-radius: 12px;
}

.modal-header {
  width: 100%;
  padding: 1rem 0.5rem;
  background: skyblue;
  color: white;
  border-radius: 12px 12px 0 0;
}

.modal-header h2 {
  margin: 0.5rem;
}

.modal-content {
  padding: 1rem 0.5rem;
}

.modal-footer {
  padding: 1rem 0.5rem;
}
