.pinboard-item {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  color: #8a8a8a;
  border-radius: 6px;
  border: 1px solid transparent;
}
.pinboard-item:hover,
.pinboard-item:active {
  border: 5px solid #d7f4d2;
  padding: 1rem;
}

.pinboard-item__card {
  height: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.pinboard-item__title h1 {
  margin: 0;
  padding: 0;
}

.pinboard-item__content {
  margin: 0;
}

.pinboard-item__content p {
  letter-spacing: 2px;
  line-height: 1.2;
  word-spacing: 2px;
}

.pinboard-item__actions {
  margin: 1rem 0;
  align-self: flex-end;
}

.pinboard-item__actions button {
  position: static;
  padding: 0.5rem 1.5rem;
  border: 1px solid #beaee2;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

.Pinboard-modal__content {
  padding: 0 2rem;
  text-align: center;
}

.Pinboard-modal__content h3 {
  font-family: Montserrat;
}

.Pinboard-modal__content p {
  letter-spacing: 2px;
  text-align: center;
  line-height: 1.5;
  word-spacing: 8px;
}
