.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control textarea,
.form-control input {
  display: block;
}

.form-control label {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.form-control textarea,
.form-control input {
  width: 100%;
  font-family: Montserrat;
  border: 1px solid #ccc;
  background: #f8f8f8;
  padding: 0.25rem 0.25rem;
  border-radius: 0.25rem;
}

.form-control textarea:focus,
.form-control input:focus {
  outline: none;
  border-color: #8a8a8a;
}
