@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-family: Abel;
}

h2 {
  font-family: Montserrat;
}

p {
  font-family: Montserrat;
}

body {
  margin: 0;
  font-size: 17px;
  /* background: #cdf0ea; */
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      to(#f9f9f9),
      from(#cdf0ea)
    )
    fixed;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
